@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

$bgColor: #131722;
$lightBg: #24baef;
$fontColor: #fff;
$fontWeight: bolder;

body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgColor;
  color: $fontColor;
}

a {
  color: $fontColor;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #092632;
  font-weight: $fontWeight;
}

link {
  color: $fontColor;
  text-decoration: none;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sign-up {
  max-height: 150vh;
}

.line {
  position: relative;
}

.line-common {
  content: "";
  display: block;
  height: 1px;
  background-color: gray;
  position: absolute;
}
.line:after {
  @extend .line-common;
  width: 20vmax;
}

.line:before {
  @extend .line-common;
  width: 10vmax;
  top: -10px;
}

.movie {
  position: relative;
}

.image-rating {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #131722;
  padding: 0.5vmax;
}

.curs {
  cursor: pointer;
}

.icon {
  transition: transform 0.3s;
}

@mixin hoverLink($bg, $trans) {
  background: $bg;
  transform: $trans;
}

.wrapper .github:hover link,
.wrapper .github:hover,
.wrapper .github:hover :before {
  @include hoverLink(#333, scale(1.2));
}

.wrapper .facebook:hover link,
.wrapper .facebook:hover,
.wrapper .facebook:hover :before {
  @include hoverLink(#3b5999, scale(1.2));
}

.wrapper .twitter:hover link,
.wrapper .twitter:hover,
.wrapper .twitter:hover :before {
  @include hoverLink(#092632, scale(1.2));
}
.wrapper .linkedin:hover link,
.wrapper .linkedin:hover,
.wrapper .linkedin:hover :before {
  @include hoverLink(#0a66c2, scale(1.2));
}

.wrapper .instagram:hover link,
.wrapper .instagram:hover,
.wrapper .instagram:hover :before {
  @include hoverLink(#c32aa3, scale(1.2));
}

.wrapper .google:hover link,
.wrapper .google:hover,
.wrapper .google:hover :before {
  @include hoverLink(#4285f4, scale(1.2));
}

.link-ul li {
  color: #c32aa3;
  transition: transform 0.8s;
}

.link-ul li:hover {
  color: #092632 !important;
  transform: scale(1.2);
  font-weight: $fontWeight;
} /* 999999999999999999999999999999999999 */

.offline {
  position: fixed;
  left: 0px;
  bottom: 10%;
  z-index: 9999;
}
